/* general */

:root {
    --color-1: #ef74b2;
    --color-2: #EFA1C8;
    --bg-topbar: black;
    --icn-color: #303030;
}

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: 'Montserrat', sans-serif;
    scroll-behavior: smooth;
    scroll-padding-top: 80px;
    overflow-x: hidden;
}

body.light-mode {
    --color-1: #ef74b2;
    --color-2: #EFA1C8;
    --bg-topbar: white;
    --icn-color: #d8d8d8;
}

/* topbar */

.topbar-container {
    width: 100%;
    height: 80px;
    background-color: var(--bg-topbar);
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
}

nav {
    position: absolute;
    width: 100%;
    display: flex;
    justify-content: center;
}

.topbar-container h1 {
    margin-left: 30px;
    font-size: 24px;
    font-weight: 550;
    color: var(--color-1);
}

.topbar-container span {
    font-size: 20px;
    font-weight: 550;
    color: var(--color-1);
}

.topbar li {
    display: inline-block;
    margin-right: 30px;
    font-size: 17px;

}

.topbar li a {
    text-decoration: none;
    color: var(--color-1);
    transition: .5s;
}

.topbar li a:hover {
    color: var(--color-2);
}

#theme-toggle {
    background: none;
    border: none;
    cursor: pointer;
    color: var(--color-1);
    padding: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: auto;
    margin-right: 20px;
    transition: transform 0.2s;
}

#theme-toggle i {
    font-size: 22px;
}

#theme-toggle:hover {
    transform: scale(1.1);
}

/* banner */

#sessao-bemvindo {
    width: 100%;
    height: 400px;
}

.banner {
    display: flex;
    position: relative;
}

.banner-vid {
    width: 100%;
    height: 400px;
}

.banner-vid video {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: relative;
    z-index: -1;
}

.banner-items {
    position: absolute;
    display: flex;
    align-items: center;

}

.banner-text {
    display: flex;
    flex-direction: column;
    margin-left: 20px;
    margin-top: 40px;
}

.banner-items h1 {
    font-size: 40px;
    font-weight: 600;
    color: var(--color-1);
    margin-top: 25px;
    margin-left: 30px;
    line-height: 1.3;
}

.banner-items p {
    margin-left: 30px;
    margin-top: 10px;
    line-height: 1.57;
    color: var(--color-2);
}

#profile {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    margin-top: 100px;
    margin-left: 70px;
}

/* banner icons */

.banner-icns {
    height: 20px;
    position: relative;
    display: inline-flex;
    right: 66%;
    margin-top: 300px;
}

.banner-icns a {
    color: var(--color-1);
    text-decoration: none;
    padding: 15px;
}

#gitH {
    width: 35px;
    height: 35px;
    font-size: 20px;
    color: var(--color-1);
    border: 2px solid var(--color-1);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    margin-right: 30%;
    transition: .3s;
}

#gitH:hover {
    color: var(--color-2);
    transform: scale(1.1);
}

#linke {
    width: 35px;
    height: 35px;
    font-size: 20px;
    color: var(--color-1);
    border: 2px solid var(--color-1);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    margin-right: 30%;
    transition: .3s;
}

#linke:hover {
    color: var(--color-2);
    transform: scale(1.1);
}

#insta {
    width: 35px;
    height: 35px;
    font-size: 20px;
    color: var(--color-1);
    border: 2px solid var(--color-1);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    margin-right: 30%;
    transition: .3s;
}

#insta:hover {
    color: var(--color-2);
    transform: scale(1.1);
}

/* sobre */

#sessao-sobremim {
    height: 300px;
    width: 100%;
}

#about-vid {
    width: 100%;
    height: 300px;
    object-fit: cover;
    position: absolute;
}

.about-container {
    width: 100%;
    height: 300px;
    display: flex;
    position: relative;
}

.about-text h1 {
    font-size: 38px;
    font-weight: 600;
    color: var(--color-1);
    margin-left: 50px;
    margin-top: 30px;
    position: absolute;
}

.about-text p {
    color: var(--color-2);
    margin-left: 50px;
    margin-top: 80px;
    line-height: 1.57;
    position: absolute;
}

/* habilities */

.hab-container {
    width: 100%;
    height: 700px;
    display: flex;
    flex-direction: column;
    position: relative;
}

.hab-background {
    width: 100%;
    height: 100%;
    display: flex;
    position: absolute;

}

.hab-background video {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.hab-text {
    margin-bottom: 40px;
    position: relative;
    z-index: 10;
}

.hab-text h1 {
    font-size: 38px;
    font-weight: 600;
    color: var(--color-1);
    margin-left: 50px;
    margin-top: 30px;
}

.hab-text p {
    color: var(--color-2);
    margin-left: 50px;
    margin-top: 10px;
    line-height: 1.57;
}

.boards-hab {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-evenly;
    gap: 20px;
    position: relative;

}

.boards-hab h3 {
    position: relative;
    top: 25px;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    text-align: center;
    margin: 0;
    color: var(--color-1);
    font-size: 22px;
    z-index: 15;
}

/* board 1 */

#quadro-hab {
    width: 380px;
    height: 250px;
    position: relative;
    z-index: 2;
}

#quadro-hab h3 {
    position: relative;
    justify-content: center;
    color: var(--color-1);
    font-size: 24px;
    font-weight: 600;
    z-index: 10;
}

#quadro-hab video {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 20px;
    z-index: 1;
}

/* icons */

.icon-container {
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 90%;
    max-width: 320px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    justify-items: center;
    align-items: center;
    z-index: 10;
}

.icon-container ion-icon {
    font-size: 60px;
    color: #303030;
    transition: .3s;
}

.icon-container .fa-java {
    font-size: 60px;
    color: var(--icn-color);
    transition: .3s;
}

.icon-container .fa-php {
    font-size: 60px;
    color: var(--icn-color);
    transition: .3s;
}

.icon-container ion-icon:hover,
.icon-container .fa-java:hover,
.icon-container .fa-php:hover {
    transform: scale(1.1);
    cursor: pointer;
}

.icon-container svg {
    width: 60px;
    height: 60px;
    transition: 0.3s;
    fill: #B14796;
}

.icon-container svg:hover {
    transform: scale(1.1);
    cursor: pointer;
}

#html5 {
    color: #e34c26;
}

#css3 {
    color: #264de4;
}

#javascript {
    color: #FFDF00;
}


/* board 2 */

#quadro-hab-1 {
    width: 380px;
    height: 250px;
    position: relative;
    z-index: 2;
}

#quadro-hab-1 h3 {
    position: relative;
    color: var(--color-1);
    font-size: 24px;
    font-weight: 600;
    z-index: 10;
}

#quadro-hab-1 video {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 20px;
    z-index: 1;
}

/* board 3 */

#quadro-hab-2 {
    width: 380px;
    height: 250px;
    position: relative;
    z-index: 2;
}

#quadro-hab-2 h3 {
    position: relative;
    color: var(--color-1);
    font-size: 24px;
    font-weight: 600;
    z-index: 10;
}

#quadro-hab-2 video {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 20px;
    z-index: 1;
}



/* experiences */

.exp-container {
    width: 100%;
    height: 550px;
    display: flex;
    position: relative;
}

.exp-background {
    width: 100%;
    height: 550px;
    display: flex;
    position: relative;
}

.exp-background video {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.exp-text {
    position: absolute;
    z-index: 10;
    font-size: 38px;
    font-weight: 600;
    color: var(--color-1);
    margin-left: 50px;
    margin-top: 15px;
}

#quadro-exp {
    width: 600px;
    height: 350px;
    position: absolute;
    margin-left: 345px;
    margin-top: 110px;
    z-index: 2;
    top: 20px;
}

#quadro-exp video {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 20px;
    z-index: 1;
}

#exp-desc {
    width: 90%;
    height: 90%;
    color: var(--color-1);
    position: absolute;
    margin-top: -260px;
    margin-left: 30px;
    z-index: 2;
}

/* projects */

.proj-container {
    width: 100%;
    height: 800px;
    display: flex;
    position: relative;
}

.proj-background {
    width: 100%;
    height: 800px;
    display: flex;
    position: relative;
}

.proj-background video {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.proj-text {
    position: absolute;
}

.proj-text h1 {
    font-size: 38px;
    font-weight: 600;
    color: var(--color-1);
    margin-left: 50px;
    margin-top: 30px;
}

.proj-text p {
    color: var(--color-2);
    margin-left: 50px;
    margin-top: 10px;
    line-height: 1.57;
}

.proj-imgs {
    display: inline-block;
}

/* contact */

.contato-container {
    width: 100%;
    height: 600px;
    display: flex;
}

.contato-back {
    width: 100%;
    height: 100%;
    position: absolute;
}

.contato-back video {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
}

.contato-text {
    position: absolute;
}

.contato-text h1 {
    font-size: 38px;
    font-weight: 600;
    color: var(--color-1);
    margin-left: 50px;
    margin-top: 30px;
}

.contato-text p {
    color: var(--color-2);
    margin-left: 50px;
    margin-top: 10px;
    line-height: 1.57;
}

.contato-form {
    width: 70%;
    height: 225px;
    position: absolute;
    margin-left: 50px;
    margin-top: 150px;
}

.contato-form label {
    color: var(--color-1);
    font-size: 24px;
    font-weight: 500;
    margin-left: 35px;
}

.contato-form input {
    height: 70%;
    width: 50%;
    margin-bottom: 10px;
}

.contato-form input::placeholder {
    font-size: 14px;
}

.contato-form input[type="text"] {
    margin-top: 10px;
    margin-left: 30px;
    display: block;
    padding: 15px 20px;
    border: 1px solid #d8d8d8;
    border-radius: 25px;
}

.contato-form input[type="email"] {
    margin-top: 10px;
    margin-left: 30px;
    display: block;
    padding: 15px 20px;
    border: 1px solid #d8d8d8;

    border-radius: 25px;
}

.contato-form textarea {
    width: 50%;
    height: 100%;
    font-family: 'Montserrat', sans-serif;
    margin-top: 10px;
    margin-left: 30px;
    display: block;
    padding: 15px 20px;
    border: 1px solid #d8d8d8;
    border-radius: 25px;
}

.contato-form button {
    font-family: 'Montserrat', sans-serif;
    margin-top: 20px;
    margin-left: 30px;
    display: block;
    padding: 15px 20px;
    border: 1px solid #d8d8d8;
    border-radius: 25px;
    background-color: white;
    transition: .3s;
    color: #303030;
}

.contato-form button:hover {
    background-color: whitesmoke;
    cursor: pointer;
}

/* contact icons */

.separator {
    height: 30px;
    position: relative;
    left: 50%;
    top: 45%;
}

.separator .line {
    position: relative;
    border-top: 1px solid var(--color-2);
    width: 280px;
    margin: 25px auto 35px;
}

.separator span {
    position: absolute;
    color: var(--color-1);
    width: 40px;
    padding: 5px;
    top: 11px;
    left: 50%;
    margin-left: -25px;
    font-size: 20px;
    font-weight: 500;
    background-color: var(--bg-topbar);
}

.contact-icn {
    height: 30px;
    position: relative;
    left: 55%;
    top: 46%;
    display: inline-flex;
    gap: 20px;
}

.contact-icn a {
    color: var(--color-1);
    text-decoration: none;
    padding: 15px;
}

#linkedin {
    width: 35px;
    height: 35px;
    font-size: 20px;
    color: var(--color-1);
    border: 2px solid var(--color-1);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    margin-right: 30%;
    transition: .3s;
}

#linkedin:hover {
    color: var(--color-2);
    transform: scale(1.1);
}

#instagram {
    width: 35px;
    height: 35px;
    font-size: 20px;
    color: var(--color-1);
    border: 2px solid var(--color-1);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    margin-right: 30%;
    transition: .3s;
}

#instagram:hover {
    color: var(--color-2);
    transform: scale(1.1);
}

/* footer */

footer {
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: center;
}

#footer-back {
    width: 100%;
    height: 100%;
    position: relative;
}

footer video {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: relative;
}

footer h4 {
    justify-content: center;
    font-size: 15px;
    font-weight: 450;
    color: #d8d8d8;
    position: absolute;
    z-index: 10;
    margin-top: 15px;
}