/* general */

:root {
    --color-1: darkgrey;
    --color-2: #303030;
}

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

html {
    font-family: 'Montserrat', sans-serif;
    scroll-behavior: smooth;
    scroll-padding-top: 80px;
}

/* topbar */

.topbar-container {
    height: 80px;
    background-color: var(--color-2);
    display: flex;
    align-items: center;
    position: fixed;   
    top: 0;            
    left: 0;         
    width: 100%;       
    z-index: 1000;
}

nav {
    position: absolute;
    width: 100%;
    display: flex;
    justify-content: center;
}

.topbar-container h1 {
    margin-left: 30px;
    font-size: 24px;
    font-weight: 550;
    color: var(--color-1); 
}

.topbar-container span {
    font-size: 20px;
    font-weight: 550;
    color: var(--color-1); 
}

.topbar li {
    display: inline-block;
    margin-right: 30px;
    font-size: 17px;
    
}

.topbar li a {
    text-decoration: none;
    color: var(--color-1);
    transition: .5s;
}

.topbar li a:hover {
    color: #d8d8d8;
}

/* banner */

#sessao-bemvindo {
    width: 100%;
    height: 400px;
}

.banner {
    display: flex;
    position: relative;
}

.banner-vid {
    width: 100%;
    height: 400px;
}

.banner-vid video {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: relative;
    z-index: -1;
}

.banner-items  {   
    position: absolute;
    display: flex;
    align-items: center;

}

.banner-text {
    display: flex;
    flex-direction: column;
    margin-left: 20px; 
    margin-top: 90px;
}

.banner-items h1 {
    font-size: 40px;
    font-weight: 600;
    color: var(--color-1);
    margin-top: 25px;
    margin-left: 30px;
    line-height: 1.3;
}

.banner-items p {
    margin-left: 30px;
    margin-top: 10px;
    line-height: 1.57;
    color: var(--color-1);
}

#profile {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    margin-top: 100px;
    margin-left: 70px;
}

/* sobre */

#sessao-sobremim {
    height: 300px;
    width: 100%;
}

#about-vid {
    width: 100%;
    height: 300px;
    object-fit: cover;
    position: absolute;
}

.about-container {
    width: 100%;
    height: 300px;
    display: flex;
    position: relative;
}

.about-text h1 {
    font-size: 38px;
    font-weight: 600;
    color: var(--color-2);
    margin-left: 50px;
    margin-top: 30px;
    position: absolute;
}

.about-text p {
    color: var(--color-2);
    margin-left: 50px;
    margin-top: 80px;
    line-height: 1.57;
    position: absolute;
}

/* habilities */

.hab-container {
    width: 100%;
    height: 500px;
    display: flex;
    position: relative;
}

.hab-background {
    width: 100%;
    height: 500px;
    display: flex;
    position: absolute;
    
}

.hab-background video {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

/* board 1 */

#quadro-hab {
    width: 380px;
    height: 250px;
    position: relative;
    margin-left: 30px;
    margin-top: 170px;
    z-index: 2;
    top: 20px;
}

#quadro-hab h3 {
    margin-left: 105.4px;
    margin-top: 10px;
    position: absolute;
    color: var(--color-2);
    font-size: 24px;
    font-weight: 600;
    z-index: 10;
}

#quadro-hab video {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 20px;
    z-index: 1;
}

/* board 2 */

#quadro-hab-1 {
    width: 380px;
    height: 250px;
    position: absolute;
    margin-left: 442.5px;
    margin-top: 170px;
    z-index: 2;
    top: 20px;
}

#quadro-hab-1 h3 {
    margin-left: 105.4px;
    margin-top: 10px;
    position: absolute;
    color: var(--color-2);
    font-size: 24px;
    font-weight: 600;
    z-index: 10;
}

#quadro-hab-1 video {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 20px;
    z-index: 1;
}

/* board 3 */

#quadro-hab-2 {
    width: 380px;
    height: 250px;
    position: absolute;
    margin-left: 855px;
    margin-top: 170px;
    z-index: 2;
    top: 20px;
}

#quadro-hab-2 h3 {
    margin-left: 130px;
    margin-top: 10px;
    position: absolute;
    color: var(--color-2);
    font-size: 24px;
    font-weight: 600;
    z-index: 10;
}

#quadro-hab-2 video {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 20px;
    z-index: 1;
}

.hab-text {
    position: absolute;
    z-index: 10;
}

.hab-text h1 {
    font-size: 38px;
    font-weight: 600;
    color: var(--color-1);
    margin-left: 50px;
    margin-top: 30px;
}

.hab-text p {
    color: var(--color-1);
    margin-left: 50px;
    margin-top: 10px;
    line-height: 1.57;
}

/* experiences */

.exp-container {
    width: 100%;
    height: 550px;
    display: flex;
    position: relative;
}

.exp-background {
    width: 100%;
    height: 550px;
    display: flex;
    position: relative;
}

.exp-background video {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.exp-text {
    position: absolute;
    z-index: 10;
    font-size: 38px;
    font-weight: 600;
    color: var(--color-2);
    margin-left: 50px;
    margin-top: 15px;
}

#quadro-exp {
    width: 600px;
    height: 350px;
    position: absolute;
    margin-left: 345px;
    margin-top: 110px;
    z-index: 2;
    top: 20px;
}

#quadro-exp video {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 20px;
    z-index: 1;
}

#exp-desc {
    width: 90%;
    height: 90%;
    color: var(--color-1);
    position: absolute;
    margin-top: -260px;
    margin-left: 30px;
    z-index: 2;
}